.wrap-circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.scene {
  margin: auto;
  transform: rotateY(45deg) rotate(-45deg);
  transform-origin: center center;
  transform-style: preserve-3d;
}
.circle {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  animation: rotate2 10s linear infinite;
  transform-style: preserve-3d;
  color: #dd1a5d;
}
.circle span {
  position: absolute;
}
@keyframes rotate2 {
  0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(1turn);
  }
}