@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: white;
}

.image-container {
  position: relative;
  overflow: hidden; /* Đảm bảo ảnh không bị tràn ra khỏi vùng chứa */
  width: 100%;
  height: 500px;
}

.image-container img {
  width: 100%; /* Đảm bảo ảnh luôn điền vừa container */
  height: 100%;
  transition: transform 0.1s ease-in-out; /* Thời gian chuyển đổi */
}

.image-container:hover img {
  transform: scale(1.2); /* Tăng tỷ lệ để tạo hiệu ứng zoom */
}

/* OffCanvas.css */
.offcanvas {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: right 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.offcanvas.open {
  right: 0;
}

.offcanvas-content {
  padding: 20px;
}

.close-button {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Off canvas */
.fade-in-right {
  -webkit-animation: fade-in-right 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s
    both;
  animation: fade-in-right 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
}
.slide-out-right {
  -webkit-animation: slide-out-right 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* OFF */

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

/* OPEN */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
