@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: white;
  font-family: 'Borel', cursive;
  font-family: 'Poppins', sans-serif;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.image-container img {
  width: 100%;
  /* height: 100%; */
  transition: transform 0.2s ease-out;
}
.main-swiper .swiper-slide .icon-img-slider {
  position: relative;
}
.main-swiper .swiper-slide .icon-img-slider::before {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  left: 25px;
  top: 95%;
  background: radial-gradient(
    63.86% 63.86% at 36.75% 64.46%,
    #dc1a5d 0%,
    #b334bc 75.52%,
    #9747ff 100%
  );
  box-shadow: 0px 12px 12px 0px rgba(220, 26, 93, 0.25);
  border-radius: 100px;
}

.main-swiper .swiper-slide .icon-img-slider::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  left: -40px;
  top: 50%;
  background: radial-gradient(
    63.86% 63.86% at 36.75% 64.46%,
    #dc1a5d 0%,
    #b334bc 75.52%,
    #9747ff 100%
  );
  box-shadow: 0px 12px 12px 0px rgba(220, 26, 93, 0.25);
  border-radius: 100px;
}

.image-container:hover img {
  transform: scale(1.1);
}

.offcanvas {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: right 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.offcanvas.open {
  right: 0;
}

.offcanvas-content {
  padding: 20px;
}

.close-button {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

/* INPUT */
input,
textarea {
  padding: 12px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: black;
  border-bottom: 1px solid #757575;
}

.swiper-scrollbar-drag {
  background-color: #dc1a5d !important;
}
input:focus-visible {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #757575;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

/* Off canvas */
.fade-in-right {
  -webkit-animation: fade-in-right 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s
    both;
  animation: fade-in-right 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
}
.slide-out-right {
  -webkit-animation: slide-out-right 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.custom-select {
  appearance: none;
  background-image: url('/images/svg/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
}
.custom-select:focus-visible {
  outline: none;
}

.split-text {
  background: linear-gradient(
    90deg,
    #dc1a5d 20.26%,
    #db1c77 40.19%,
    #d721c4 50.15%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.split-text-blogs {
  background: linear-gradient(
    89deg,
    #dc1a5d 29.76%,
    #db1c77 75.88%,
    #d721c4 98.94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* OFF */
.slide-top-hover:hover {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

/* OPEN */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.carousel-wrapper {
  display: grid;
  place-content: center;
  border-radius: 2rem;
}
.carousel-content {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.carousel-item {
  position: absolute;
  width: 230px;
  height: 368px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
}

.carousel-btns {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 6;
}

.text-trunce-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-trunce-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app {
  width: 500px;
  margin: 0 auto;
}
.custom.swiper-slide-prev {
  position: relative !important;
  right: -40px;
}
.custom.swiper-slide-next {
  position: relative !important;
  left: -40px;
}
.custom.swiper-slide-next img,
.custom.swiper-slide-prev img {
  opacity: 0.5;
}

.custom.swiper-slide {
  display: none;
  height: 300px !important;
  position: absolute;
}
.custom.swiper-slide img {
  border-radius: 40px;
}
.custom.swiper-slide-active {
  height: 400px !important;
  position: relative;
  z-index: 3;
  border-radius: 40px;
  display: block !important;
  position: relative !important;
}

.custom .swiper-wrapper {
  align-items: center;
}

.slider-creator-nav .swiper-slide-thumb-active img {
  border: 3px solid #dc1a5d;
}
.slider-creator-nav .swiper-slide img {
  margin-top: 50px;
}
.slider-creator-nav-main {
  position: relative;
}
.slider-creator-nav .custom-prev {
  position: absolute;
}
.slider-creator-nav .custom-next {
  position: absolute;
  right: 0;
}
.slider-creator-nav-main .swiper-scrollbar {
  top: 0 !important;
  height: 2px !important;
}
@keyframes runtext {
  from {
    left: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.bg_main {
  background-image: url('/images/svg/bg_svg/bg-main.svg');
  background-color: black;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}
.runningLeft {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  width: 100%;
  animation: runtext 30s linear infinite;
}

.runningRight {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  width: 100%;
  animation: runtext 30s linear infinite;
  animation-direction: reverse;
  animation-delay: -3s;
}
.wrapper-run {
  width: 100%;
  height: fit-content;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.wrapper-run img {
  object-fit: contain;
}
.imageGroup {
  display: grid;
  place-items: center;
}
